build/
build-debug/
build-release/
build-sanitize-addr/
build-sanitize-thread/
build-cov/
build-ci-debug/
build-ci-release/
build-cublas/
out/
tmp/
models/
models-mnt

compile_commands.json
CMakeSettings.json
.vs/
.vscode/
.clangd

.exrc
.cache
.DS_Store
.stablelm
.gpt-2

src/arm_neon.h
tests/arm_neon.h

zig-out/
zig-cache/

*.dot

*.sw?

__pycache__/

# Model files
ggml-model-f16.bin
*.bat
