build/
build-debug/
build-release/
build-sanitize-addr/
build-sanitize-thread/
build-cov/
out/
models/

compile_commands.json
CMakeSettings.json
.vs/
.vscode/

.exrc
.cache
.DS_Store
.stablelm
.gpt-2

src/arm_neon.h
tests/arm_neon.h

zig-out/
zig-cache/

*.dot
