build/
build-*/
out/
tmp/
models/
models-mnt

compile_commands.json
CMakeSettings.json
.vs/
.vscode/
.clangd

.venv/
ggml_env/
.exrc
.cache
.DS_Store
.stablelm
.gpt-2

src/arm_neon.h
tests/arm_neon.h

zig-out/
zig-cache/

*.o
*.d
*.dot

*.sw?

__pycache__/

# Model files
ggml-model-f16.bin
*.bat
