accelerate==0.19.0
numpy>=2.0.2
sentencepiece~=0.1.98
torchvision>=0.15.2
transformers>=4.35.2,<5.0.0
gguf>=0.1.0
keras==3.5.0
tensorflow==2.18.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch~=2.5.1
